/*----- nav INICIO-------*/
/*----- nav FINAL----------*/
nav{

    cursor:url(../img/neve.cur),pointer;
}
/*----- header INICIO------ */
/*--------- botao INICIO-----*/
#botaoMenu{
    margin-top: 15px;
    margin-right: 35px;
 text-align: right;  
}
#botaoMenu a{
    font-size: 26px;
}
#botao{
    height: 30px;
    width: 60px;
}
/*-------- botao FINAL------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteudoMenu{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#logo img{
    width: 100px;
    height: 100px;
}
#logo{
    padding: 15px;
    display: block;
    text-align: left;
}
.espaco{
    margin-top: 25px;
}
#textoheader{
    margin: 15px;
    padding: 10px;
    text-align: right;
    font-size: 25px;
}

#home{
    padding: 5px;
}
.conteudoMenu a{
    margin: 15px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}
#textoheader a:hover{
    padding: 10px;
    border: 1px solid black;
}
/*---- header FINAL-------*/
/*---- main INICIO--------*/
main{
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
/*---- main FINAL---------*/
/*---- produto1 INICIO-----*/
.produto1{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.img1{
    padding: 5px;
    width: max-content;
}
.img1 img{
    width: 70%;
}
.texto1{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.texto1 img{
    padding-top: 5px;
    justify-content: center;

}
/*---- produto1 FINAL------*/
/*---- produto2 INICIO-----*/
.produto2{
    background-color: rgb(236, 236, 53);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh ;
}
.img_visao{
    margin-bottom: 15px;
    margin-top: 6px;
    margin-left: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-self: center;   
}

ul {
    display: flex;
    flex-flow: row nowrap;
}

li{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.produto2 h1{
    margin-top: 5px;
    text-align: center;
}
.img_visao img{
    height: 100px;
    width: 100px;
    border: 1px solid brown; 
}
.visao{
    margin-top: 15px;
}
/*---- produto2 FINAL------*/
/*---- procuto 3 INICIO---*/
.ajuste ul{
    display: flex;
    flex-flow: row nowrap;
}

.ajuste li{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}
.produto3servico{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20%;
}
.produto3servico p{
    font-size: 40px;
    text-align: center;
}
.produto3servico img{
    margin-top: 15px;
    margin-left: 40%;
    width: max-content;
    height: 50px;
    margin-bottom: 10px;
}
.ajuste{
    position: relative;
    width: max-content;
}
.area_servicos{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 4fr 1fr ;
    grid-template-rows: 8vh 25vh 25vh ;
}

.paragrafo{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
}

.img_linha{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 9;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;    
}
 
.imagem_servicos_bloco{
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.imagem_servicos_bloco a{
    display: flex;
    justify-items: center;
}

.imagem_servicos_bloco p{
    font-size: 25px;
    text-align: center;
}


.imagem_servicos_linha{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;  
    justify-content: center;
}


.imagem_servicos_linha a{
    display: flex;
}

.imagem_servicos_linha p{
    font-size: 25px;
    text-align: center;
}
/*---- produto 3 FINAL-----*/
/*----- fundo cinza INICIO---*/

.fundocinza{
    background-color: #f1f1f1f1;
    display: grid;
    grid-template-columns: 50% 50% ;
}
#sobrenos{
    display: grid;
    grid-template-rows: 20% 20% 40%;
}
#sobrenos h1{
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}
#sobrenos img{
    margin-top: 15px;
    margin-left: 30%;
    width: max-content;
    height: 50px; 
}
#sobrenos p{
    text-align: center;
    font-size: 25px;
}
.imgfundocinza img{
    margin: 20px;
    margin-left: 25%;
    height: 400px;
    width: 400px;
}
/*------- fundo cinza FINAL-------*/
/*---------- produtos4 INICIO-------------- */
.produtos4{
    display: grid;
    grid-template-rows: 10% 10%;
    margin-left: 15px;
    margin-right: 15px;
}
#imgproduto4 img{
    margin-top: 6px;
    margin-left: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-self: center;   
}
#produto4 h1{
    text-align: center;
    margin-top: 5px;
}
#produto4 img{
    margin-left: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    height: 40px;
}
.produtos4 a{
    text-align: center;
    color: black;
    text-decoration: none;
}
.produto4link{
    margin: 15px;
    text-align: center;
}
.produto4link a{
    padding-top: 5px;
        margin: 15px;
    
}
.produto4link a:hover{
    border: 1px solid black;

}
#imgproduto4 img{
    margin-top: 25px;
    height: 100px;
    width: 200px;
}
.botaoprodutos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
/*-----------produtos4 FINAL--------- */
/*---------- linkangular INICIO------ */
#linkangular{
    text-align: center;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.img5ars{
    display:flex ;
    justify-content: space-around;

}
.img5ars img{
   position: relative;
   display: flex;
   flex-direction: row;
   width: 200px;
   margin-top: 5px;
   border: 3px solid black;
   margin: 5px;
}
.canto{
    margin-left: 50px;
}
/*----- parte de cima formulario ------*/
.contatolinha{
    text-align: center;
    justify-content: center;
}
.enderercoentreemcontato{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.nosenvieumamensagem{
    margin-top: 20%;
    margin-left: 8%;
}

/* ----------formulario INICIO------ */
.form{
    background-color: #f1f1f1f1;
    display: grid;
    grid-template-columns: 50% 50%;
}
#formulario img{
    width: 300px;
}
.endereco{
    display:flex ;
    justify-content: space-around;
}
.nome{
    font-size: 20px;
}
label{
    text-decoration: none;
}
#imgform img{
    margin: 15px;
}
/* começo extilização ENVIE-NOS UMA MENSAGEM */
.nome input{
    border: none;
}
.nomeemail{
    justify-content:left;
}
.inputfield{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid black;
    width: 260px;
}
.inputfield input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}
.inputfield input:focus{
    outline: none;
}
#nomeemail{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
#Email{
    margin-left: 108px;
    border-bottom: 1px solid black;
    width: 600px;
}
.inputfieldi{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
   
}
.inputfieldi input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}
.inputfieldi input:focus{
    outline: none;
}
/* final extilização do ENVIE-NOS UMA MENSAGEM */
.botao{
    margin-right: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.botao button{
    height: 30px;
    width: 100px;
    background-color: transparent;
    border: 2px solid gray;
}
.socialmidias{
    gap: 6px;
    display: flex;
    justify-content: center;
}
.icons img{
    margin: 5px;
    height: 30px;
    width: 30px;
}

.icons{
    margin-top: 25px;
    display: flex;
    padding-left: 500px;
}
/*----------- formulario FINAL--------- */
/* responsivo */
@media screen and (max-width: 900px) {
 .body{
    display: block;
}
header{
    display: block;
}
.conteudoMenu{
    display: block;
}
.logo{
    display: block;
}
.logo img{
    display: block;
}
.textoheader{
    text-align: end;
    display: block;
}
main{
    display: block;
}

.produto1{
    display: block;
}
.img1{
    display: block;
}
.texto1{
    display: block;
}

.produto2{
    display: block;
}
.visao{
    display: block;
    text-align: end;
}
.texto{
    color: yellow;
}
.produto3servico{
    display: block;
}
.area_servicos{
    display: block;
}
.fundocinza{
    display: block;
}
.sobrenos{
    display: block;
}
.imgfundocinza{
    display: block;
    margin-top: 25px;
    margin-left: 25px;
}
.img5ars{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr,1fr,1fr;   
}
.produtos4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr,1fr,1fr;
}
.form{
    display: block;
}
.nomeemail{
    display: block;
    display: flex;
    justify-items: center;
}
.inputbox{
    display: block;
    margin: 15px;
}
#name{
    display: block;
    margin: 15px;
}
.inputbox2{
    display: block;
    width: 15px;
    margin-left: 5px;
}
.inputbox1{
    width: 15px;
    display: block;
} 
}
@media screen and (max-width: 500px) {
    .body{
        display: block;
    }
    header{
        display: block;
    }
    .conteudoMenu{
        display: block;
    }
    .logo{
        display: block;
    }
    .logo img{
        display: block;
    }
    .textoheader{
        text-align: end;
        display: block;
    }
    main{
        display: block;
    }
    
    .produto1{
        display: block;
    }
    .img1{
        display: block;
    }
    .texto1{
        display: block;
    }
    
    .produto2{
        display: block;
    }
    .visao{
        display: block;
        text-align: end;
    }
    .texto{
        color: yellow;
    }
    .produto3servico{
        display: block;
    }
    .area_servicos{
        display: block;
    }
    .fundocinza{
        display: block;
    }
    .sobrenos{
        display: block;
    }
    .imgfundocinza{
        display: block;
        margin-top: 25px;
        margin-left: 25px;
    }
    .img5ars{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr,1fr,1fr;   
    }
    .produtos4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr,1fr,1fr;
    }
    .form{
        display: block;
    }
    .nomeemail{
        display: block;
        display: flex;
        justify-items: center;
    }
    .inputbox{
        display: block;
        margin: 15px;
    }
    #name{
        display: block;
        margin: 15px;
    }
    .inputbox2{
        display: block;
        width: 15px;
        margin-left: 5px;
    }
    .inputbox1{
        width: 15px;
        display: block;
    } 
}
/*-------- linkangular FINAL---------- */




/* <div ng-app="meuApp" ng-controller="controlador">
<button ng-click="minhaFuncao()">Menu</button>
<div ng-show="exibir">
    <img src="img/consultoria e avaliação.jpg" alt="">
     <h4>Pizza</h4>
     <h4>Pasta</h4>
     <h4>Peixe</h4>
 </div></div>
 <script>
 
 background-repeat: no-repeat;
    background-size: cover;
    var app = angular.module('meuApp',[]);
app.controller('controlador',function($scope){
    $scope.exibir = false;
    $scope.minhaFuncao = function(){
        $scope.exibir = !$scope.exibir;
    }
});</script>
id="textoheader"><a id="home" href="#">Home</a> <a href="#">Serviços</a> <a href="#">Sobre nós</a> <a href="#">Produtos</a> <a href="#">Contatos</a> */
/* <div class="produto4link"><a href="#">AR CONDICIONADO</a><a href="#">AR CONDICIONADO INVERTER</a><a href="#">MULTI SLIP</a><a href="#">ENERGIA SOLAR</a></div> */
/* <div id="imgproduto4">
<ul>
    <li>
        <a href=""><img src="img/linha.png" alt=""></a>
    </li>
</ul>
<ul>
    <li>
        <a href=""><img src="img/linha.png" alt=""></a>
    </li>
</ul>
<ul>
    <li>
        <a href=""><img src="img/linha.png" alt=""></a>
    </li>
</ul>
<ul>
    <li>
        <a href=""><img src="img/linha.png" alt=""></a>
    </li>
</ul>
<ul>
    <li>
        <a href=""><img src="img/linha.png" alt=""></a>
    </li>
</ul>
</div> */
